#navbar{
    flex-wrap: wrap;
}
#navbar ul li{
   margin: 5px;
   padding: 2px 0px;
}
#navbar ul li a {
    font-size: 0.6rem;
    padding-left: 5px;
    padding-right: 5px;
}
.dropbtn1 {
    font-size: 0.6rem;
     padding: 8px 5px;
     margin-top: 25px;
}
#pic1{
    flex-direction: column;
}
#pic1 h2{
    margin-left: 5px;
    margin-top: 0px;
}
#pic1 h2 img{
    width: 371px;
}
#pic1 img{
    height: 379px;
    width: 385px;
    margin: -5px;
}
#pearl{
    flex-direction: column;
}
#pear h1{
    font-size: 2rem;
    text-align: none;
}
#pearl img{
  height: 279px;
  width: 379px;
  margin-left: -27px;

}
#pearl ul{
    margin-left: -3%;
    margin-top: -92px;
}
.monument h1{
    font-size: 1.75rem;
    margin-left: 1%;
}
.monument h2{
    flex-direction: column;
}
.monument img{
    height: 258px;
    width: 388px;
    margin-left: -4%;
}
#welcome{
    flex-direction: column;
}
#welcome h1{
    margin-top: 14%;
    font-size: 2rem;
}
#welcome img{
        height: 143px;
        width: 391px;
        margin-left: 0px;
}
#team img{
    margin-left: 1%;
    width: 388px;
    height: 120px;
}
#follow li img{
    height: 25px;
    width: 25px;
    margin-right: 7px;
}
#follow h3{
    font-size: 1rem;
}

.dropbtn {
    background-color: rgb(226, 191, 16);
    color: black;
    padding: 16px;
    font-size: 1rem;
    border: 2px solid brown;
    cursor: pointer;
    border-radius: 10px;
    
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(14, 153, 21);
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 2px solid brown;
  }
  
  .dropdown a:hover {
    background-color: blueviolet;
    color: white;
}
  
  .show {display: block;}